<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Yik Yak Data{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-static-top navbar-default">
      <div class="container">
        <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Yik Yak Data</a>
        <div class="nav-collapse">
          {% block navbar_right %}
          <ul class="nav navbar-nav pull-left">
              <li><a href="map">View Map</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">

        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View other locations<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/map?latitude=40.42567529&longitude=-86.9241809">Purdue</a></li>
                <li><a href="/map?latitude=39.169136&longitude=-86.514905">IU</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Not listed here? type in the latitude and longitude in the text box</li>
                <li>
                           <form class="navbar-form navbar-left" role="search" action='SetCoords' method="get" >
    <div class="form-group">
        <input type="text" class="form-control" placeholder="latitude" name='latitude'>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="longitude" name='longitude'>
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>
</li>
              </ul>
            </li>

  






          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}
    <div class="container page">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; Nicky Semenza</p>
        </footer>
        {% endblock %}
    </div>
    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>