{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block extrahead %}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
      var result = new Array();
      var name;
      function initialize() {
        var myLatlng = new google.maps.LatLng("{{data['latitude']}}", "{{data['longitude']}}");
        var mapOptions = {
          zoom: 14,
          center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var infowindow = new google.maps.InfoWindow();
        var marker;
        var i = 0; 


        
      //console.log(locations.drawings.length);
        {% for eachYak in yaks_top %}

          marker = new google.maps.Marker({
          position: new google.maps.LatLng({{eachYak.get('latitude')}},{{eachYak.get('longitude')}}),
          icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|ff0000",
          map: map,
          title: "{{eachYak.get('likes')}} likes"
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            var name = "{{eachYak.get('hash')}}";
            infowindow.setContent("<p>{{eachYak.get('message')}} <br> {{eachYak.get('likes')}} likes <br> {{eachYak.get('time')}}</p> ");
            infowindow.open(map, marker);
          }
        })(marker, i));
      {% endfor %}


      {% for eachYak in yaks_new %}
          marker2 = new google.maps.Marker({
          position: new google.maps.LatLng({{eachYak.get('latitude')}},{{eachYak.get('longitude')}}),
          icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|0000ff",
          map: map,
          title: "{{eachYak.get('likes')}} likes"
        });
        google.maps.event.addListener(marker, 'click', (function(marker2, i) {
          return function() {
            var name = "{{eachYak.get('hash')}}";
            infowindow.setContent("<p>{{eachYak.get('message')}} <br> {{eachYak.get('likes')}} likes <br> {{eachYak.get('time')}}</p> ");
            infowindow.open(map, marker2);
          }
        })(marker2, i));
      {% endfor %}


      {% for eachYak in yaks_greatest %}

          marker = new google.maps.Marker({
          position: new google.maps.LatLng({{eachYak.get('latitude')}},{{eachYak.get('longitude')}}),
          icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FFD103",
          map: map,
          title: "{{eachYak.get('likes')}} votes"
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            var name = "{{eachYak.get('hash')}}";
            infowindow.setContent("<p>{{eachYak.get('message')}} <br> {{eachYak.get('likes')}} votes <br> {{eachYak.get('time')}}</p> ");
            infowindow.open(map, marker);
          }
        })(marker, i));
      {% endfor %}

  



    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>


{% endblock %}
{% block content %}


    <div id="map-canvas"></div>

    <div class="row">
  <div class="col-md-6">
    <h3>Hot Yaks</h3>
    <table class="table table-condensed table-hover table-striped table-bordered">
      <thead>
        <tr>
        <td>Message</td>
        <td>Likes</td>
      </tr>
      </thead>
      {% for eachYak in yaks_top %}
      <tr>
        <td>{{eachYak.get('message')}}</td>
        <td>{{eachYak.get('likes')}}</td>
      </tr>
      {% endfor %}
    </table>

  </div>
  <div class="col-md-6">

  <h3>New Yaks</h3>
    <table class="table table-condensed table-hover table-striped table-bordered">
      <thead>
        <tr>
        <td>Message</td>
        <td>Likes</td>
        <td>id</td>
      </tr>
      </thead>
      {% for eachYak in yaks_new %}
      <tr>
        <td>{{eachYak.get('message')}}</td>
        <td>{{eachYak.get('likes')}}</td>
        <td>{{eachYak.get('message_id')}}</td>
      </tr>
      {% endfor %}
    </table>

  </div>
</div>





<style>
#map-canvas {
  width:100%;
  height:700px;
}
</style>
{% endblock %}